<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Flask</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('carees') }}">Carees</a></li>
        </ul>
    </nav>
    <!--define a block/area where we can inject content -->
    {% block content %} 
    {% endblock %}
    <!--these statements control the flow of our template-->
    <!--see pages inherit code using extends => Inheritance-->
</body>
</html>